<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>WebhookResponse</name>
        <type>plugin</type>
        <creationDate>2025-08-12</creationDate>
        <lastUpdate>2025-08-12</lastUpdate>
        <author>Vítor Santoro Zambon - ICTS</author>
        <version>1.0.0</version>
        <license>MIT</license>
        <description><![CDATA[This plugin sends a POST request to a specified URL after a survey response is submitted]]></description>
    </metadata>
    <compatibility>
        <version>6</version>
    </compatibility>
</config>